<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      Id="1"
      photoCover="../../../assets/image_placeholder.png"
      cardTitle="TITULO DE EXEMPLO"
      cardDescription="Descrição referente á notícia de exemplo"
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      photoCover="https://th.bing.com/th/id/OIP.wfHrO4vQwgt82WCMlhG99gHaEK?rs=1&pid=ImgDetMain"
      cardTitle="NOVO JOGO ANUNCIADO NA GAME FESTIVAL"
    ></app-small-card>
    <app-small-card
      Id="3"
      photoCover="https://th.bing.com/th/id/OIF.fGCzRWoBtBsmOMW5eZkYmQ?rs=1&pid=ImgDetMain"
      cardTitle="NOVAS SKINS DO SUPERCELL MAKER CHEGARÃO NO BRAWL STARS"
    ></app-small-card>
    <app-small-card
      Id="4"
      photoCover="https://th.bing.com/th/id/OIP.I7R9N2LIoOXPIm0gDcf86gHaEK?rs=1&pid=ImgDetMain"
      cardTitle="ANIME DE SOLO LEVELING ESTÁ SENDO LANÇADO NA CRUNCHYROLL"
    ></app-small-card>
  </div>
</div>
